<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
<link rel="stylesheet" href="{{asset 'css/prism.css'}}" />
<link rel="stylesheet" href="{{asset 'css/style.css'}}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{asset 'js/prism.js'}}"></script>
<script src="{{asset 'js/hamburger.js'}}"></script>
<script src="{{asset 'js/script.js'}}"></script>
{{ghost_head}}
<title>Landon Manning</title>
{{>'hamburger'}}
<article id="content">
	{{>'header'}}
	<main>
		{{{body}}}
	</main>
	{{ghost_foot}}
	{{>'footer'}}
	<div id="overlay"></div>
</article>
